.prism-container {
  border-radius: 1rem;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  font-size: 0.85rem;
  /* padding: 0 0.5rem; */
}

.prism-top-row,
.prism-middle-row,
.prism-bottom-row {
  background-color: #3d4b6c;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  gap: 0;
}

.prism-top-row,
.prism-bottom-row {
  padding: 0.5rem 0;
}

.prism-middle-row .input-group {
  margin: 0 0.375rem;
}

.prism-inner-box {
  border: 2px solid #29334d;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  row-gap: 0.625rem;
  padding: 0.375rem 0.5rem;
}

.prism-inner-box .input-group {
  margin: 0;
}

.prism-inner-box div {
  display: flex;
  justify-content: center;
  /* padding: 0.25rem 0rem; */
}

.prism-inner-box > div:nth-child(2) {
  justify-content: space-between;
  /* padding: 1rem 0; */
}
