input,
select {
  background-color: inherit;
  border: none;
  color: inherit;
}
input {
  padding: 0.25rem 0.125rem;
  padding-right: 0;
  width: 30px;
  text-align: center;
}

select {
  padding: 0;
  appearance: none;
  text-indent: -1px;
}

select option {
  border: none;
}

.input-group:has(.dirty-input:not(:focus)) {
  border-bottom: 1px dashed #daae67;
  padding: 0;
  color: #fff;
}
input:focus,
input:focus ~ select,
select:focus,
input ~ select:focus,
.select-open {
  background-color: #28334d;
  outline: none;
}
.input-group {
  transition: all 0.1s ease-in-out;
  /* transition: border  .5s ease-in-out; */
}

.input-group:has(input:focus),
.input-group:has(select:focus),
.input-group:has(div.dropdown-open),
.select-open {
  background-color: #28334d;
  border-radius: 3px;
  outline: 1px solid #348fc3;
}

.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  color: #adb9cd;
  width: 60px;
}

.input-group > input::placeholder {
  color: #adb9cd;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.prism-outer-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.save-btn {
  padding: 0.25rem 0.85rem;
  background-color: #6887cf;
  color: #fff;
  border-radius: 10px;

  border: none;
}

.save-btn:hover {
  background-color: #90a6da;
  cursor: pointer;
}
