.dropdown-close {
  display: none;
}

.dropdown-open {
  display: block;
  position: absolute;
  z-index: 9999999;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #28334d;
  color: #fff;
  border-radius: 10px;
  overflow: hidden;
  /* transform: translateY(10px); */
  animation: 0.1s  ease-in forwards slide-in;
}

@keyframes slide-in {
   from {
    transform: translateY(-5px);
   } to {
    transform: translateY(5px);
   }
}

.dropdown-open li:hover {
  background-color: #1f273a;
}

.dropdown-open button {
  border: none;
  background-color: inherit;
  color: inherit;
  padding: 0.25rem 0.75rem;
}
.dropdown-container {
  position: relative;
}

.dropdown-container button {
  border: none;
  background-color: inherit;
  color: inherit;
  cursor: pointer;
}
